<div ng-controller="MeetingCtrl">
  <div class="row" >
    <div class="col-lg-12">
      <rd-widget>
        <rd-widget-header class="no-margin" icon="fa-tasks" title="Select a Meeting">
          <button type="button" class="btn btn-default" ng-click="collapse()">{{collapseText}}</button>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding" uib-collapse="isCollapsed">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr><th>Meeting Key</th><th>Meeting Date</th><th>Meeting Length</th></tr>
                <tr ng-repeat="mtg in meetingList"><td><a ng-click="setMeeting(mtg.meeting)">{{mtg.meeting}}</a></td><td>{{mtg.date}}</td><td>{{mtg.len}} minutes</td></tr> 
              </tbody>
            </table>
          </div>      
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <rd-widget>
        <rd-widget-header icon="fa-tasks" title="Speaking Time"></rd-widget-header>
        <canvas class="chart chart-bar"
                chart-data="totalSpeakingTime.data"
                chart-labels="totalSpeakingTime.labels"
                chart-options="chartOptions"
                chart-series="totalSpeakingTime.series">
        </canvas>
      </rd-widget>
    </div>
    <div class="col-lg-6 col-xs-12">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Speaking Turns">
        </rd-widget-header>
        <canvas class="chart chart-bar" 
                chart-data="totalSpeakingTurns.data"
                chart-labels="totalSpeakingTurns.labels"
                chart-options="chartOptions"
                chart-series="totalSpeakingTurns.series">
        </canvas>
        <rd-widget>
    </div>
    <div class="col-lg-6 col-xs-12">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Speaking Time in 5 Minute Increments">
        </rd-widget-header>
        <canvas class="chart chart-line" 
                chart-data="incrementSpeakingTime.data"
                chart-labels="incrementSpeakingTime.labels"
                chart-options="chartOptions"
                chart-series="incrementSpeakingTime.series">
        </canvas>
        <rd-widget>
    </div>
    <div class="col-lg-6 col-xs-12">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Speaking Turns in 5 Minute Increments">
        </rd-widget-header>
        <canvas class="chart chart-line" 
                chart-data="incrementSpeakingTurns.data"
                chart-labels="incrementSpeakingTurns.labels"
                chart-options="chartOptions"
                chart-series="incrementSpeakingTurns.series">
        </canvas>
        <rd-widget>
    </div>
  </div>
</div>
